div{
    width: 600px;
    height: 400px;
   /* linear
      background-image: linear-gradient(45deg, white, black);
      background-image: linear-gradient( rgb(255, 136, 0), rgb(4, 0, 255));
      background-image: linear-gradient(to bottom, red, rgb(31, 6, 173));
      background-image: linear-gradient(red , #ffffff 60%, green);*/
      
    /*radial
      background-image: radial-gradient(rgb(255, 0, 0), #ff00c8, rgb(0, 102, 255), rgb(0, 217, 255),rgb(0, 255, 76));
      background-image: radial-gradient(ellipse at center, yellow 0%, rgb(47, 0, 255) 100%);
      background-image: radial-gradient(ellipse at left, yellow 0%, rgb(143, 1, 1) 100%);
      background-image: radial-gradient(closest-side at 40px 60px, yellow, red);
      background-image: radial-gradient( rgb(255, 255, 0) -200px, rgb(17, 0, 255) 300px);
      background-image: radial-gradient(farthest-side bottom, yellow,red);
      background-image: repeating-linear-gradient(red, yellow, blue 40%, red 80%);
      background-image: repeating-radial-gradient(red, yellow, blue 40%, red 60%);
      background-image: repeating-linear-gradient(red, yellow, rgb(30, 255, 0) 10%, red 20%);
      background-image: repeating-radial-gradient(circle, closest-side at -10px -10px, red, yellow, green 64%, yellow, red);*/

}

ul li{
    list-style-image: repeating-conic-gradient(red 0deg 10deg, yellow 10deg 20deg, blue 20deg 30deg);;
}

button{
    width: 155px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellow;
    font-weight: bold;
    background-color: green;
    border-radius: 20px;
    font-size: 24px;

}

#gomb1{
background-image: linear-gradient(to top, green, yellow);
}

#gomb2{
background-image: linear-gradient(green, yellow, green);
}

#gomb3{
    border-width: 0;

}

.test{
    width:  500px;
    height: 250px;
   
 /* background-color: #cff;
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
    background-image: linear-gradient(45deg,aqua 25%, transparent 25%, transparent 75%, aqua 75%, aqua),
    linear-gradient(45deg, aqua 25%, transparent 25%, transparent 75%, aqua 75%, aqua);
    */
    /*
    background-color: #cf9;
    background-size: 83px 83px;
    background-image: linear-gradient(45deg, #cff 25%, transparent 25%, #cff 75%, #cff), linear-gradient(-45deg, #cff 25%, transparent 25%, #cff 75%, #cff);*/
    /*
    background-color: white;
    background-size: 50px 50px;
    background-image: linear-gradient(180deg,rgba(0, 0, 100%, 0.5) 50%, transparent 50%), linear-gradient(90deg, rgba(0, 0, 75%, 0.5) 50%, transparent 50%);
    */
    /*
    background-color: red;
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-image: radial-gradient(white 25%, transparent 25% ), radial-gradient(white 25%, transparent 25%);*/


}

body{
    background-image: radial-gradient(white 7%, transparent 7%),radial-gradient(white 4%, transparent 4%);
    background-color: #2cf;
    background-size: 100px 100px, 100px 100px;
    background-position: 0 0, 50px 50px;
    animation: havazas 0.5s linear infinite;


}

@keyframes havazas{
    0%{
        background-position: 0px 0px, 50px 50px;

    }
    100%{
        background-position: 300px 1500px, 350px 1550px;

    }
}