div{
    height: 100%;
    width: 50%;

}

button{
    float: left;
    background-color: aqua;
    margin: 5px;
    font-size: 5em;
    border-radius: 2em 1em 4em 4em /1em 1em 6em 1em;
    color: black;
    transition-property: background-color, border-radius opacity;
    transition-duration: 4s, 2s, 6s;

}

button:hover{
    font-size: 9em;
    background-color: burlywood;
    color: crimson;
    border-radius: 9em 9em 9em 22em /5em 1em 7em 2em;
    font-variant: small-caps;
    font-weight: bold;
}

button:active{
    opacity: 0;
    height: 8000px;
    width: 82000px;

}

