@keyframes pelda{
    0% /*from*/{ 
        margin-left: 25px;
        margin-top: 100px;    
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 0%;

    }

    60%{
        margin-left: 100px;
        margin-top: 150px;
        width: 120px;
        height: 120px;
        background-color: green;
        border-radius: 20%;
    }

    100% /*to*/{
        margin-left: 270px;
        margin-top: 180px;
        width: 200px;
        height: 200px;
        background-color: blue;
        border-radius: 50%;

    }
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

div{
    animation: pelda;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-play-state: paused;
    animation-delay: 0s;
    animation-fill-mode: none;
    cursor: pointer;
}

:active div{
    animation-play-state: running;
}

.blink{

    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0ms;
    animation-direction: alternate;


    
}

