@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,600&family=Press+Start+2P&display=swap');

.bg-custom{
    background-color: #800c0c;
}
.nav-link, .navbar-brand {
    color: #e2e679;
    font-family: 'Asap', sans-serif;
font-family: 'Press Start 2P', cursive;
}
#logo{
    width: 45px;
    margin-right: 15px;
}

.home{
    background-position: bottom;
    height: 1000px;
}

footer p{
    margin-left: 20px;
}

footer{
    height: 200px;
    background-color: #800c0c;
    color: #e2e679;
}

.motto{
    background-color: blue;
    margin: 0 auto;
    position: relative;
    top: 25%;
    
}