h1 {
    text-align: center;
    color: #002200;
}

.center { .center {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}

body{
    background-color: #DDFFDD;
}

p{
    color: #002200;
}

.big{
    font-size: 55px;
}

.centert{
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 110%;
    max-height:110%;
    padding-left:25% ;
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }