.ot {
    background-color: rgb(108, 233, 119);
    border-radius: 5px;
    text-align: right;
}

.allc{
    background-color: rgb(183, 241, 183);
    border-radius: 5px;
    text-align: right;
}

.border{
    background-color: rgb(1, 163, 1);
    border-radius: 5px;
    text-align: right;

}

