[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Molnár Károly
	email = 118881658+molnarkaroly@users.noreply.github.com
